.drawer-menu-container {
  pointer-events: auto;
  display: flex;
  flex-direction: row;
  position: absolute;
  padding-right: 10px;
  right: 0;
  top: 50%;
  height: 100%;
  min-width: 30vw;
  transform: translate(30vw, -50%); 
  transition: transform 0.3s ease-in-out;
}

.drawer-menu-side-panel {
  z-index: 100;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  height: 100%;
  width: 100px;
}

.drawer-menu-container:hover {
  transform: translate(0, -50%);
}

.drawer-menu {
  pointer-events: auto;
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  opacity: 0.75;
  height: 100%;
  width: 30vw;
  z-index: 200;
}

