body {
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
  overflow: hidden;
  display: flex;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.scene {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #f5f5f5;
}

.overlay {
  overflow: hidden;
  pointer-events: none; /* Make the overlay content non-interactive */
  left: 0;
  top: 0;
  position: absolute;
  width: 100%; /* Cover the full width of the parent */
  height: 100%; /* Cover 10% of the height of the parent */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000; /* Adjust text color as needed */
  z-index: 100; /* Place the overlay on top of the parent */
}

.overlay .drawer-menu-container {
  /*pointer-events: all; /* Make the overlay content interactive */
}

.overlay .toolbar {
  pointer-events: all; /* Make the overlay content interactive */
}

